<%= render 'shared/errors', errors: @record.errors %>
<h2><%= @record.start_datetime.strftime('%Y年%m月%d日') %></h2>
<%= form_for @record,:url => {:action => :update} do |f| %>
    <div>
      <%= f.time_select :start_datetime %>
    </div>
    <div>
      <%= f.submit '更新' %>
    </div>
<% end %>
<%= link_to "←戻る", controller: "attendances", action: "list", yyyymm: @record.year_month %>