<%= render 'shared/errors', errors: @record.errors %>
<div style="text-align: center;">
  <h1>勤怠管理システム</h1>
</div>
<hr width="300"/>
<div style="text-align: center;">
<%= form_for @record,:url => {:action => :create} do |f| %>
  <div style="margin-right: 230px;">
    <%= f.label :start_datetime, "出勤時間" %>
  </div>
  <div>
  <%= f.datetime_select :start_datetime,
        start_year: 2016, end_year: Time.now.year,
        use_month_numbers: true %>
  </div>
  <div style="margin-right: 230px;">
    <%= f.label :end_datetime, "退勤時間" %>
  </div>
  <div>
    <%= f.datetime_select :end_datetime,
                          start_year: 2016, end_year: Time.now.year,
                          use_month_numbers: true %>
  </div>
  <div>
    <%= f.submit '登録' %>
  </div>
<% end %>
  <%= link_to "一覧へ", list_path(@record.year_month) %>
</div>