<%= render 'shared/errors', errors: @record.errors %>
<div style="text-align: center; margin-top: 40px; margin-bottom: 40px;">
  <h1>勤怠管理システム</h1>
</div>
<hr width="300"/>
<div style="text-align: center; margin-top: 40px; margin-bottom: 40px;font-size: 25px;">
  <div id="now_year"></div>
  <div id="now_month_day"></div>
  <div id="now_time"></div>
</div>
<hr width="300"/>
<div style="text-align: center; margin-top: 50px;">
<%= form_for @record,:url => {:action => :create} do |f| %>
  <div>
  <%= f.datetime_select :start_datetime,
        start_year: 2016, end_year: Time.now.year,
        use_month_numbers: true %>
  </div>
  <div>
    <%= f.submit '登録' %>
  </div>
<% end %>
  <%= link_to "一覧へ", list_path(@record.year_month) %>
</div>